# Database
# For local development using SQLite:
# DATABASE_URL="file:./dev.db"

# For PostgreSQL (recommended for production):
# DATABASE_URL="postgresql://user:password@localhost:5432/dbname"

# For MySQL:
# DATABASE_URL="mysql://user:password@localhost:3306/dbname"

DATABASE_URL="postgresql://user:password@localhost:5432/kingsley_vle"
